.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Common CSS Start*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  body {
      overflow-x: hidden;
  }
}

/** Component **/
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #eff9f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.cf:after,
.cf:before {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
}
.form-control:focus,
.form-control:active,
.form-control:hover {
  outline: none;
  box-shadow: none;
}
.btn-primary{
  background-color: #28a745;
  border-color: #28a745;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  outline: none;
  box-shadow: none;
  background-color: #28a745;
  border-color: #28a745;
}

textarea:focus {
  outline: 0;
}

/* Common CSS End */

.wall-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-wrapper {
  margin-top: 120px;
}

.login-form {
  max-width: 450px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}
.common-page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.card-head h2 {
  font-size: 22px;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 4px;
}

.sign-up {
  margin-top: 6px;
  font-size: 14px;
}
.sign-up a:hover {
  text-decoration: none;
  color: #000;
}

.user-section {
  padding: 15px;
  position: relative;
}

.user-avatar {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
  border-radius: 4px;
  background-color: #e1e1e1;
}

.user-avatar span {
  font-size: 22px;
  font-weight: 700;
  color: #b6b6b6;
  line-height: 45px;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.username {
  display: inline-block;
  margin-top: 10px;
}

.username p {
  margin: 0;
  font-weight: 600;
  text-transform: capitalize;
}

.has-danger {
  position: relative;
}
.has-error {
  color: red;
  font-size: small;
  position: absolute;
  line-height: normal;
  font-size: 10px;
  margin-top: 3px;
}

.btn-block {
  margin-top: 10px;
  display: inline-block;
}

.card-text label {
  margin-bottom: 0;
}

.already-account p {
  margin-bottom: 0;
}
.user-detail-wrapper{
  display: flex;
  align-items: center;
}
.user-logout{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.user-profile {
  width: 360px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  display: block;
  position: absolute;
}
.user-profile h2{
  text-align: center;
  margin-bottom: 20px;
}
.user-profile .username {
  margin-top: 0; 
}
.btn-logout {
  padding: 5px 10px;
  line-height: normal;
  margin-top: 5px;
}


.not-found-box {
  height: calc(100vh - 65px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.not-found-box .not-found-box-inner {
  min-width: 500px;
  text-align: center;
  padding: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.not-found-box .not-found-box-inner img {
  width: 200px;
  margin-bottom: 30px;
  opacity: 0.4;
}
.not-found-box .not-found-box-inner h2 {
  font-size: 72px;
  margin: 0;
  color: #ea4135;
  line-height: 72px;
}
.not-found-box .not-found-box-inner h3 {
  margin: 0;
  font-size: 24px;
  color: #424242;
}
/* responsive */

@media (min-width: 768px) {
  .main-wrapper {
      max-width: 670px;
  }
}
@media (min-width: 992px) and (max-width: 1060px) {
  .main-wrapper {
      max-width: 895px;
  }
}
@media (min-width: 1061px) {
  .main-wrapper {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main-wrapper {
      max-width: 1100px;
  }
}
@media (min-width: 1400px) {
  .main-wrapper {
      max-width: 1300px;
  }
}
@media (max-width: 767px) {
  .main-wrapper {
      max-width: 100%;
      margin-bottom: 70px;
      margin-top: 60px;
  }
}
